{% extends "../_base.html" %}
{% block content %}
<h3>Milestones</h3>
<a href="{% url 'goals:milestone_create' goal.pk %}">Add Milestone</a>
<h2>{{ goal.title }}</h2>
<p>{{ goal.description }}</p>
<p>Due Date: {{ goal.due_date }}</p>
<ul class="flex">
    {% for milestone in milestones %}
        <li>{{ milestone.title }} - {{ milestone.get_status_display }}</li>
        <a href="{% url 'goals:milestone_update' milestone.pk %}">Edit</a>
        <form action="{% url 'goals:milestone_delete' milestone.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    {% endfor %}
</ul>
<a href="{% url 'goals:goal_list' %}">Back to Goals</a>
{% endblock %}
