{% extends "../dashboard_base.html" %}
{% block content %}
<h2>Milestones for "{{ goal.title }}"</h2>

<ul>
    {% for milestone in milestones %}
        <li>
            <a href="{% url 'goals:milestone_detail' milestone.id %}">{{ milestone.title }}</a> 
            ({{ milestone.status }})
            <br>
                <a href="{% url 'goals:milestone_update' milestone.id %}">✏ Edit</a> |
                <a href="{% url 'goals:milestone_delete' milestone.id %}">🗑 Delete</a>
        </li>
    {% empty %}
        <p>No milestones yet.</p>
    {% endfor %}
</ul>

<a href="{% url 'goals:milestone_create' goal.id %}">➕ Add Milestone</a>
<a href="{% url 'goals:goal_detail' goal.id %}">🔙 Back to Goal</a>
{% endblock %}
