<div class="min-w-full">
  <h2 class="w-full py-8 text-2xl">
    Welcome, <span class="text-primary-600">{{ user.username }}!</span>
  </h2>
  {% if report %}
  <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-3 w-full">
    <div
      class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
    >
      <div
        class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-primary-600 to-primary-400 text-white shadow-primary-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center"
      >
        <svg
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          aria-hidden="true"
          class="w-6 h-6 text-white"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill="none"
              stroke="#ffffff"
              stroke-width="2"
              d="M12,20 L24,20 M12,12 L24,12 M12,4 L24,4 M1,19 L4,22 L9,17 M1,11 L4,14 L9,9 M9,1 L4,6 L1,3"
            ></path>
          </g>
        </svg>
      </div>
      <div class="p-4 text-right">
        <p
          class="block antialiased font-sans text-sm leading-normal font-normal text-primary-gray-600"
        >
          Completed Tasks
        </p>
        <h4
          class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-primary-gray-900"
        >
          {{ report.completed_tasks }}
        </h4>
      </div>
    </div>
    <div
      class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
    >
      <div
        class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
          class="w-6 h-6 text-white"
        >
          <path
            fill-rule="evenodd"
            d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <div class="p-4 text-right ml-auto">
        <p
          class="block antialiased font-sans text-sm leading-normal font-normal text-primary-gray-600"
        >
          Habit Completions
        </p>
        <h4
          class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-primary-gray-900"
        >
          {{ report.habit_completions }}
        </h4>
      </div>
    </div>
    <div
      class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
    >
      <div
        class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-orange-600 to-orange-400 text-white shadow-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
          class="w-6 h-6 text-white"
        >
          <path
            d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"
          ></path>
        </svg>
      </div>
      <div class="p-4 text-right">
        <p
          class="block antialiased font-sans text-sm leading-normal font-normal text-primary-gray-600"
        >
          Focus Time
        </p>
        <h4
          class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-primary-gray-900"
        >
          {{ report.total_focus_time }} min
        </h4>
      </div>
    </div>
  </div>
  {% else %}
  <div class="mb-12 grid grid-cols-1 items-center justify-center w-full">
    <p>No report available yet!</p>
  </div>
  {% endif %}

  <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-2 w-full">
    <div
      class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
    >
      <div
        class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6"
      >
        <div>
          <h6
            class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-primary-gray-900 mb-1"
          >
            Recent Focus Sessions ⏳
          </h6>
        </div>
        <a
          href="{% url 'focus:focus_sessions_list' %}"
          class="relative middle font-sans font-medium text-center capitalize text-xs text-primary-500 hover:text-primary-600 active:text-primary-500/30"
        >
          view all
        </a>
      </div>
      <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
        <table class="w-full min-w-full table-auto">
          <thead>
            <tr>
              <th class="border-b border-primary-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-primary-gray-400"
                >
                  title
                </p>
              </th>
              <th class="border-b border-primary-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-primary-gray-400"
                >
                  duration
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for session in focus_sessions %}
            {% if forloop.counter <= 6 %}
            <tr>
              <td class="py-3 px-5 border-b border-primary-gray-50">
                <div class="flex items-center gap-4">
                  <p
                    class="block antialiased font-sans text-sm leading-normal text-primary-gray-900 font-bold"
                  >
                    {{ session.task.title }}
                  </p>
                </div>
              </td>

              <td class="py-3 px-5 border-b border-primary-gray-50">
                <p
                  class="block antialiased font-sans text-xs font-medium text-primary-gray-600"
                >
                  {{ session.duration  }} min
                </p>
              </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
              <td class="py-3 px-5">No focus sessions yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md"
    >
      <div
        class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6"
      >
        <div>
          <h6
            class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-primary-gray-900 mb-1"
          >
            Habits 🔥
          </h6>
        </div>
        <a
          href="{% url 'habits:habit_list' %}"
          class="relative middle font-sans font-medium text-center capitalize text-xs text-primary-500 hover:text-primary-600 active:text-primary-500/30"
        >
          view all
        </a>
      </div>
      <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
        <table class="w-full min-w-full table-auto">
          <thead>
            <tr>
              <th class="border-b border-primary-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-primary-gray-400"
                >
                  Name
                </p>
              </th>
              <th class="border-b border-primary-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-primary-gray-400"
                >
                  Streak
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for habit in habits %}
            {% if forloop.counter <= 6 %}
            <tr>
              <td class="py-3 px-5 border-b border-primary-gray-50">
                <div class="flex items-center gap-4">
                  <p
                    class="block antialiased font-sans text-sm leading-normal text-primary-gray-900 font-bold"
                  >
                    {{ habit.name }}
                  </p>
                </div>
              </td>

              <td class="py-3 px-5 border-b border-primary-gray-50">
                <p
                  class="block antialiased font-sans text-xs font-medium text-primary-gray-600"
                >
                  {{ habit.streak }} days
                </p>
              </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
              <td class="py-3 px-5">No habits tracked yet.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-1">
    <div
      class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden xl:col-span-2"
    >
      <div
        class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6"
      >
        <div>
          <h6
            class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-primary-gray-900 mb-1"
          >
            Tasks 📌
          </h6>
        </div>
        <a
          href="{% url 'tasks:task_list' %}"
          class="relative middle font-sans font-medium text-center capitalize text-xs text-primary-500 hover:text-primary-600 active:text-primary-500/30"
        >
          view all
        </a>
      </div>
      <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
        <table class="w-full min-w-full table-auto">
          <thead>
            <tr>
              <th class="border-b border-primary-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-primary-gray-400"
                >
                  title
                </p>
              </th>
              <th class="border-b border-primary-gray-50 py-3 px-6 text-left">
                <p
                  class="block antialiased font-sans text-[11px] font-medium uppercase text-primary-gray-400"
                >
                  Due
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            {% if forloop.counter <= 6 %}
            <tr>
              <td class="py-3 px-5 border-b last:border-none border-primary-gray-50">
                <div class="flex items-center gap-4">
                  <p
                    class="block antialiased font-sans text-sm leading-normal text-primary-gray-900 font-bold"
                  >
                    {{ task.title }}
                  </p>
                </div>
              </td>

              <td class="py-3 px-5 border-b border-primary-gray-50">
                <p
                  class="block antialiased font-sans text-xs font-medium text-primary-gray-600"
                >
                  {{ task.due_date }}
                </p>
              </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
              <td class="py-3 px-5">No pending tasks 🎉</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
