
{% load static %}
<section class="bg-gray-50 dark:bg-gray-800">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
    <div class="max-w-screen-sm mx-auto text-center">
      <h2
        class="mb-4 text-3xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white"
      >
        Ready to Take Charge of Your Productivity
      </h2>
      <p class="mb-6 font-light text-gray-500 dark:text-gray-400 md:text-lg">
        Sign up now and start achieving your goals effortlessly.
      </p>
      <a
        href="{% url 'accounts:register'%}"
        class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
        >Free trial for 30 days</a
      >
    </div>
  </div>
</section>
